@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root{
	--yellow:#01FFF4;

}
*{
	font-family: 'Nunito', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;border: none;
	text-transform:capitalize ;
	transition: all .2s linear ;

}

*::selection{
	background:#01FFF4;
	color: #333;
}
html{
	font-size: 62.5%;
	overflow-x:hidden ;

}
html::-webkit-scrollbar{
	width: 1.4rem;

}
html::-webkit-scrollbar-track{
	background: #222;

}
html::-webkit-scrollbar-thumb{
	background: #FF1178;

}
body {
  overflow-x: hidden;
  padding-left:35rem ;
  background-image: url("photos/lone-tree.jpg");
}


section{
	min-height: 100vh;
	padding: 1rem;
}
.btn{
	padding: .7rem 3rem;
	background: #333;
	color: #fff;
	cursor: pointer;
	margin-top: 1rem;
	font-size: 2rem;
	border-radius: 5rem;
}
.btn i{
	padding: 0 .5rem;
	font-size: 1.8rem;
}
.btn:hover{
	background:#01FFF4 ;
}

.heading{
	text-align: center;
	margin: 0 6rem;
	font-size: 4rem;
	padding: 1rem;
	border-bottom: 1rem solid #fff4;
	color:#fff;

}
.heading span{
	color:#01FFF4;
}
header{
	position: fixed;
	top: 0; left: 0;
	z-index: 1000;
	height: 100%;
	backdrop-filter: blur(6px);
	width: 35rem;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-flow:column ;
	text-align: center;

}


header .user img {
  background-image: url('C:/Users/LISA/Pictures/Git 5.jpeg');
  height: 15rem;
  width: 15rem;
  border-radius: 100% !important;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid #df98fa;
  box-shadow: 0px 0px 40px #df98fa, 0px 0px 40px #9055ff;
  border-radius: 100%;
  animation: rotate 50s linear infinite;
  border: 5px solid #df98fa;
  animation: rotate-border 50s linear infinite;
}

@keyframes rotate-border {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
    border-color: #00FFFF;
    
  }
  25% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0);
    border-color: linear-gradient(#df98fa, #9055ff, #01FFF4, transparent);
  }
  50% {
    transform: rotateX() rotateY(180deg) rotateZ(0);
    border-color: #bfffc7;
  }
  75% {
    transform: rotateX(0deg)rotateY(0) rotateZ(0);
    border-color: #FF00FF;
  }
  100% {
    transform: rotateX(180deg) rotateY(0) rotateZ(0);
    border-color: #FF1F4F;
  }
}



header .user .name{
	font-size: 3.5rem;
	color: #fff;
}

header .user .post{
	font-size: 2rem;
	color: #eee;
}

header .navbar{
	width:100%;
}

header .navbar ul{
	list-style: none ;
	padding: 1rem 3rem;
}
header .navbar ul li a{
	display: block;
	padding: 1rem;
	margin: 1.5rem 0;
	background: #333;
	color: #fff;
	font-size: 2rem;
	border-radius: 5rem;
}

header .navbar ul li a:hover{
	background:linear-gradient(to left,#df98fa,#a8faf5,#01FFF4);
}

#menu{
	position: fixed;
	top: 2rem; right:2rem;
	background: #333;
	color: #fff;
	cursor: pointer;
	font-size: 2.5rem;
	padding: 1rem 1.5rem;
	z-index: 1000;
	display: none;
}
.home {

	display: flex;
	justify-content: center;
	flex-flow: column;
	padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size: 5rem;
    color:#fff; 
}

.home h1 span{
    color:#01FFF4;
}

  
.home p {
  font-size: 2.0rem;
  color: #fff;
  padding: 2rem;
  background-color: black;
  opacity: 0.9;
  border-radius: 10px;
  cursor: pointer;
}




.about{
	background-image:url("photos/lone-tree.jpg");

}

.about .row{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.about .row .info{
	flex-flow: 1 1 48rem;
	padding: 2rem 1rem;
	padding-left: 6rem;

}
.about .row .info h3{
	font-size: 2rem;
	color:#01FFF4 ;
	padding: 1rem 0;
	font-weight: bold;
}
.about .row .info h3 span{
	color: #eee;
	font-weight: bold;
	padding: 0 .5rem;
}

.about .row .counter{
	flex-flow: 1 1 48rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem 0;

}

.about .row .counter .box {
  width: 20rem;
  height: 20rem;
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 5rem;
  margin: 2rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.about .row .counter .box:hover {
  transform: scale(1.20);
  background-image:url("photos/lone-tree.jpg");
  border-radius: 50px;
}

.about .row .counter .box span{
	font-size: 4rem;
	color: #01FFF4;

}

.about .row .counter .box h3{
	font-size: 2rem;
	color: #fff;
	
}



.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	cursor: pointer;


}
.card {
    position: relative;
    width: 220px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    

}

.front {
    z-index: 2;
    
}

.back {
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    font-size: 1.75rem;
}


.container .card .percent{
	position: relative;
	width: 150px;
	height: 150px;	
}
.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);

}

.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: black;
    outline: none;
    fill-opacity: 0.5;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translate(5px,5px) translateY(0);
  }
  100% {
    transform: translate(5px,5px) translateY(-10px);
  }
}


.container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 6s;
}

@keyframes fadeIn{
    0%
    {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: animateDot 6s linear forwards ;
    animation-delay: 1.0s;

}
@keyframes animateDot{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),0 0 30px var(--clr);
}


.number{
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
    animation: fadeIn 6s linear forwards;
    animation-delay: 1.0s;
}
.number h2{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: 700px;
	font-size: 2.5rem;
}
.number h2 span{
	font-weight: 500px;
	color: #fff;
	font-size: 2.0rem;
}
.number p{
	font-weight: 600;
	font-size: 1.25rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color:white;

}
.portfolio{
	background-image:url("photos/lone-tree.jpg");
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 1200px;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 1rem;
	transition: transform 0.3s ease-in-out;
	max-width: 20rem;
}

.cards:hover {
	transform: translateY(-0.5rem);
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.cards img {
	max-width: 100%;
	border-radius: 1rem;
}

.intro h1 {
	font-size: 2rem;
	font-weight: bold;
	color: #fff;
	margin: 1rem 0;
}

.intro p {
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
}
.button {
  display: inline-block;
  padding: 0 24PX;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background-image:url("photos/lone-tree.jpg");
  color: #fff;
  border-radius: 9px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  background-color: #FFF;
  opacity: 0.2;
}


.contact{
	background-image:url("photos/lone-tree.jpg");
}
.container {
    padding: 30px;

}
form{
	margin-top:80px;
    border-radius: 20px;
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; 
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    margin: auto; 
    position: flex; 
    box-shadow: 0px 0px 30px #df98fa, 0px 0px 25px #9055ff,0px 0px 30px #01FFF4;
    top: 0; bottom: 0; left: 0; right: 0; 
}


form input{
	weight:290px;
	height: 40px;
	padding-left: 50px;
	outline: none;
	border: none;
	font-size: 20px;
	margin-bottom: 10px;
	background: none;
	border-bottom: 2px solid #fff;
}

form input::placeholder{
	color: #ddd;
}
form #lastName,
form #firstName{
	margin-left: 20px;
}
form #email,
form #mobile{
	margin-left: 20px;
}
form h4{
	color: #eee;
	font-weight: 300px;
	width: 600px;
	margin-top: 20px;
	font-size: 20px;

}
form textarea{
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-weight: 200px;
	font-size: 15px;
	padding: 10px;
	outline: none;
	min-width: 600px;
	max-width: 600px;
	min-height: 80px;
	max-height: 80px;
	cursor: pointer;
}
textarea::-webkit-scrollbar{
	width: 1rem;
	cursor: pointer;
}
textarea::-webkit-scrollbar-thumb{
	background-color: rgba(194, 194, 194, 0.713);
	cursor: pointer;
}
form #button{
    border: none;
    background: #fff;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 600px;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.2s;
    cursor: pointer;
}
form #button:hover{
	background-image:url("photos/lone-tree.jpg");
    opacity: 0.7;

}

.scroll-top {
  position: fixed;
  bottom: 50px;
  right: 2px;
  cursor: pointer;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
}

.scroll-top img {
  transform: scale(0.8,0.8);
}

.scroll-top.active {
  bottom: 150px;
}

.scroll-top.active .rocket::before {
  height: 80px;
}

.scroll-top.active .rocket::after {
  height: 150px;
  filter: blur(10px);
}

.rocket::before,
.rocket::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  background: linear-gradient(#df98fa, #9055ff, #01FFF4, transparent);
  height: 0px;
  width: 30px;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.scroll-top.active .rocket::before {
  height: 80px;
}

.scroll-top.active .rocket::after {
  height: 150px;
  filter: blur(10px);
}

.rocket {
  position: relative;
  width: 50px;
  height: 70px;
  margin: 0 auto;
  animation: move-rocket 2s ease infinite;
}

.smoke-container {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  z-index: -1;
}

@keyframes smoke {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: translateY(-150PX);
  }
  95% {
    opacity: 0;
  }
  100% {
    transform: translateY(-300PX);
    filter: blur(100px);
  }
}

.smoke {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background: linear-gradient(#df98fa, #9055ff, #01FFF4,transparent);
  filter: blur(20px);
  animation: smoke 5s linear infinite;
}






























































/*media queries*/
@media(max-width:1200px){
	html{
		font-size: 55%;

	}
	.home{
		padding: 1rem 4rem;
	}

}
@media (max-width:991px){

	header{
		left:-120%;

	}
	#menu{
		display: block;

	}

	header.toggle{
		left:0%;
	}
	body{
		padding: 0;
	}



}

@media (max-width:768px){

	html{
		font-size: 50%;
	}
	
}

@media (max-width:400px){

	header{
		width: 100vw;

	}
	.heading{
		margin: 0 3rem;
	}
	.about .row .counter .box{
		width: 100%;
	}
	.portfolio .box-container .box{
		width: 100%;

	}
	.contact.row form{
		margin: 3rem;
	}

}










